---
import JsonTextArea from "../components/JsonTextArea.astro";
import ControlPanel from "../components/ControlPanel.astro";
import EnvTextArea from "../components/EnvTextArea.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <div class="flex items-stretch h-screen gap-4 p-6">
        <div class="flex-1 min-w-0 bg-white rounded-lg shadow-md p-6 flex flex-col">
            <JsonTextArea />
        </div>
        <div class="shrink-0 bg-white rounded-lg shadow-md p-6 flex items-center">
            <ControlPanel />
        </div>
        <div class="flex-1 min-w-0 bg-white rounded-lg shadow-md p-6 flex flex-col">
            <EnvTextArea />
        </div>
    </div>
</Layout>
